/* Fonts START */
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Light'), local('Roboto-Light'),
		url('../fonts/Roboto-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Black'), local('Roboto-Black'),
		url('../fonts/Roboto-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), local('Roboto-Regular'),
		url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* Fonts END */


/* Global Styles START */
:root {
	--color1:#5B78CD;
	--color2:#2D3A4E;
	--color3:#F4F4F4;
	--color-text:#757171;
}
* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	min-width: 320px;
	position: relative;
	font-weight: 400;
}

input, label, textarea, button {
	font-family: 'Roboto',sans-serif;
	outline: none;
}


h1, h2, h3, h4, h5, h6, p {
	margin:0;
	padding: 0;
}

input, textarea, div {
	box-sizing: border-box;
}
ul {
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
.uppercase {
	text-transform: uppercase;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	border: 1px solid red;
}
.button{
	color: #FFFFFF;
	background-color: #4a64b9;
	display: inline-block;
	padding: 14px 50px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 400;
	transition: .5s ease;
}
.button:hover{
	background-color: #172f6e;
}
.swiper-pagination-bullet{
	width: 18px;
	height: 18px;
	border: 1px solid #ffffff;
	background-color: #D4D4D4;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background-color: #4a64b9;
	margin: 0 5px !important;
}
.swiper-button-prev,
.swiper-button-next{
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 5px;
}
.swiper-button-prev::after,
.swiper-button-next::after{
	font-size: 22px;
	color: #3D445D;
}
.swiper-button-prev{
	left: 15px;
}
.swiper-button-next{
	right: 15px;
}
/* Global Styles END */

