@import url('global.css');
/*HEADER-TOP START*/
.header-top {
    width: 100%;
    background-color: #33344F;
}

.header-top-row {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-social {
    display: flex;
    align-items: center;
    gap: 22px;
}

.header-social a {
    transition: .5s ease;
}

.header-social a:hover {
    opacity: .8;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-info-icon img {
    display: block;
}

.header-info-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info-text {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.header-mobile,
.menu-mobile-nav,
.menu-mobile-nav-list,
.header-mobile-btn {
    display: none;
}

/*HEADER-TOP END*/

/*HEADER-BOTTOM START*/
.header-bottom {
    background-color: #FFFFFF;
    padding: 24px 0;
}

.header-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-img {
    max-width: 150px;
}

.header-logo-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-btn {
}

.header-hamburger {
    display: none;
}

.menu-nav {
    z-index: 9;
}

.menu-nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.list-item a {
    font-size: 18px;
    font-weight: 400;
}

.sub-menu {
    padding: 0;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    list-style: none;
    min-width: 195px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(71, 71, 77, 0.12);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
    transform: translateX(20px);
    background-color: white;
}

.sub-menu-item a {
    display: block;
    padding: 12px 20px;
    transition: .5s ease;
}

.sub-menu-item a:hover {
    background-color: #5B78CD;
    color: #ffffff;
}

.list-item-with-children {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
}

.list-item-with-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.list-item-with-children::after {
    content: url("../images/icons/caret.svg");
}

/*HEADER-BOTTOM END*/

/* BANNER START*/
.banner-item {
    z-index: 0;
    position: relative;
    padding: 120px 0;
    color: #ffffff;
    min-height: 564px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-item::after {
    z-index: -1;
    content: '';
    background-color: rgba(57, 54, 159, 0.28);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-btn {
}


.banner-title {
    font-size: 48px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 31px;
}

.banner-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 190%;
    margin-bottom: 31px;
    max-width: 553px;
}

.swiper-banner .swiper-pagination {
    bottom: 55px;
}

/* BANNER END*/
/* ABOUT SECTION START*/
.about-wrapper {
    padding-top: 135px;
    padding-bottom: 100px;
}

.about-flex {
    display: flex;
    gap: 34px;
}

.about-left {
    max-width: 488px;
}

.about-desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 49px;
    padding-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
}

.about-title {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}

.title-text {
    font-size: 42px;
    font-weight: 700;
}

.about-right {
    position: relative;
    margin-left: auto;
}

.about-right img {
    display: block;
}

.about-first-img {
    border-radius: 5px;
    overflow: hidden;
}

.about-first-img {
    max-width: 521px;
}

.about-second-img {
    position: absolute;
    left: -135px;
    bottom: 90px;
    max-width: 372px;
    border: 14px solid #FFFFFF;
}

.about-btn {
    position: absolute;
    bottom: 0;
    left: -113px;
}

.about-numbers {
    padding: 49px 52px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 45px 20px;
    background-color: var(--color2);
    color: #ffffff;
}

.numbers-item {
    text-align: center;
}

.numbers-title {
    font-size: 49px;
    font-weight: 700;
}

.numbers-desc {
    font-size: 16px;
    font-weight: 400;
}

/* ABOUT SECTION END*/

/* CLASS SECTION START*/
.class-wrapper {
    background-color: var(--color3);
    text-align: center;
}

.class-flex {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.class-desc {
    padding-top: 20px;
    color: #9D9C9C;
    font-size: 20px;
    font-weight: 400;
}

.yoga-classes {
    padding: 65px 0 100px 0;
    display: flex;
    gap: 20px;
}

.yoga-class {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.yoga-class:hover .classes-thumb img {
    transform: scale(1.1);
}

.yoga-class:hover .yoga-class-title {
    color: var(--color1);
}

.yoga-class-title {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    transition: .5s ease;
}

.classes-thumb {
    border-radius: 5px;
    overflow: hidden;
}

.classes-thumb img {
    max-width: 100%;
    display: block;
    transition: .8s ease;
}

/* CLASS SECTION END*/

/* INSTRUCTORS SECTION START */
.instructors-wrapper {

}

.instructors {
    padding: 65px 0 100px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.instructor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBEB;
}

.instructor-thumb {
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
}

.instructor:hover .instructor-thumb img {
    transform: scale(1.1);
}

.instructor-name {
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D1D1;
    font-size: 24px;
    font-weight: 500;
    color: var(--color1);
}

.instructor-direction {
    padding-top: 20px;
    font-size: 14px;
    color: #B6ADAD;
    font-weight: 400;
}

.direction-name {
    padding-top: 11px;
    font-size: 22px;
    font-weight: 700;
    color: #000000;
}

.instructor-social {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.instructor:hover .instructor-name {
    color: var(--color2);
}

.instructor-thumb img {
    width: 100%;
    display: block;
}

.instructor-social a img {
    filter: contrast(0);
}

.instructor-social a:hover img {
    filter: brightness(0.3);
}

/* INSTRUCTORS SECTION END */

/* GALLERY SECTION START*/
.gallery-wrapper {
    background-color: #3F3854;
    padding-bottom: 100px;
}

.gallery-desc {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #DDD8D8;
    padding-bottom: 60px;
}

.grid-item {
    float: left;
    margin-bottom: 20px;
    border-radius: 5px;
}

.grid-item img {
    max-width: 100%;
}

.grid-item:hover a::before,
.grid-item:hover a::after {
    opacity: 1;
    transition: .8s ease;
}

.grid-item a,
.grid-item a img {
    display: block;
}

.grid-sizer,
.grid-item {
    width: calc(25% - 15px)
}

.grid-item a::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: url("../images/icons/magnify.svg");
    position: absolute;
    background-color: rgba(37, 31, 31, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.grid-item a::after {
    content: 'Увеличить';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    margin-top: 35px;
    opacity: 0;
}

.gallery-btn {
    margin-top: 40px;
    text-align: center;
}

/* GALLERY SECTION END*/

/* FAQ START*/
.faq-wrapper {
    padding-bottom: 100px;
}

.faq-desc {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #9D9C9C;
    padding-bottom: 60px;
}

.faq-group {
    max-width: 900px;
    margin: 0 auto;
}

.faq-item {
    font-size: 22px;
    line-height: 160%;
}

.faq-question {
    position: relative;
    background-color: #DEE5FE;
    border-radius: 5px;
    color: black;
    padding: 22px 40px 20px 30px;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
}

.faq-question::after {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 32px;
    content: url("../images/icons/plus.svg");
    transition: .4s ease;
}

.faq-question.is-active::after {
    transform: rotate(45deg);
}

.faq-answer {
    display: none;
    border-radius: 5px;
    font-weight: 400;
    padding: 22px 30px;
    color: #5A5757;
    background-color: #EEEEEE;
    margin-bottom: 20px;
}

.faq-answer p {
    margin-bottom: 0;
}

/* FAQ END*/

/* REVIEW START */
.review-wrapper {
    padding-bottom: 86px;
}

.swiper-pagination {
    padding-top: 34px;
}

.swiper-reviews .swiper-slide {
    height: auto;
}

.review-item {
    position: relative;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--color1);
}

.review-thumb {
    height: 305px;
}

.review-item-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-desc {
    padding: 25px 25px 40px 25px;
}

.review-title {
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.review-text {
    font-size: 16px;
    font-weight: 400;
    color: #888383;
    padding-top: 15px;
    padding-bottom: 60px;
}

.reviews-social {
    border-top: 1px solid #D8D1D1;
    position: absolute;
    left: 20px;
    bottom: 0;
    width: calc(100% - 40px);
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.reviews-social a img {
    filter: contrast(0);
}

.reviews-social a:hover img {
    filter: brightness(0.3);
}

.swiper-reviews .swiper-pagination {
    position: static;
    margin-top: 10px;
}

/* REVIEW END*/
/* FEEDBACK START*/
.feedback-wrapper {
    padding: 100px 0;
    background-image: url('../images/feedback-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.feedback-flex {
    padding: 80px 70px;
    display: flex;
    gap: 70px;
    background-color: rgba(63, 56, 84, 0.9);
    color: #ffffff;
    border-radius: 5px;
}

.feedback-left {
    max-width: 565px;
}

.feedback-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 49px;
}

.feedback-title {
    font-size: 42px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feedback-desc {
    font-size: 20px;
    font-weight: 400;
    color: #DDD8D8;
}

.feedback-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.feedback-form .form-group {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.feedback-form input,
.feedback-form textarea,
.feedback-form select {
    border: none;
    background-color: white;
}

.feedback-form .form-group input,
.feedback-form .form-group select {
    width: 50%;
}

.feedback-form .form-group select {
    color: #9F9E9E;
    appearance: none;
    background-image: url("../images/icons/caret.svg");
    background-repeat: no-repeat;
    background-position: 94% center;
    background-size: 15px;
    outline: none;
}

.form-text textarea {
    width: 100%;
    height: 262px;
    margin-bottom: 25px;
}

.form-btn {
    text-align: center;
}

.form-btn button {
    text-transform: uppercase;
}

.feedback-right {
    display: flex;
    flex-direction: column;
    padding: 70px 60px;
    border-left: 1px solid white;
}

.contact-title {
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 32px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 60px;
}

.contact-info-item {
    display: flex;
    gap: 10px;
}

.contact-info-icon {
    display: block;
}

.contact-info-icon img {
    width: 18px;
    height: 18px;
}

.contact-info-text {
    font-size: 18px;
    font-weight: 400;
}

.contact-map-img {
    border-radius: 5px;
}

/* FEEDBACK END*/

/*FOOTER START*/
.footer {
    background-color: #2B2632;
}

.footer-wrapper {
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 285px;
    margin-right: 150px;
}

.footer-desc {
    font-size: 16px;
    font-weight: 400;
    color: #C3C2C2;
}

.footer-nav {
    display: flex;
    gap: 100px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 17px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: .5s ease;
}

.nav-list-title {
    font-size: 22px;
    color: white;
    font-weight: 500;
    line-height: 140%;
}

.nav-list-title:hover {
    color: #C1C1C1;
}

.nav-list-item {
    font-size: 18px;
    font-weight: 400;
    color: #C1C1C1;
    display: flex;
    gap: 10px;
}

.nav-list-item:hover {
    color: white;
}

.footer-copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, .4);
    margin-bottom: 0;
    text-align: center;
    color: #B5AFAF;
}

/*FOOTER END*/

/*RESPONSIVE START*/
@media screen and (max-width: 1200px) {
    .menu-nav-list {
        gap: 15px;
    }

    .button {
        padding: 14px 28px;
        font-size: 16px;
    }

    .header-img {
        max-width: 140px;
    }

}

@media screen and (max-width: 1024px) {
    .header-info {
        gap: 12px;
    }
}

@media screen and (max-width: 990px) {
    .header-top-row {
        display: none;
    }

    .menu-nav,
    .header-btn {
        display: none;
    }

    .header-img {
        max-width: 120px;
    }

    .header-hamburger {
        display: block;
        font-size: 20px;
    }

    .header-bottom {
        padding: 16px 0;
    }

    .header-mobile {
        padding: 40px 40px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 10;
        background-color: var(--color1);
        overflow-y: auto;
        transform: translateX(-110%);
        transition: .3s ease;
    }
    .header-mobile.is-active{
        transform: none;
    }
    .header-mobile-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
        margin-bottom: 20px;
    }

    .header-mobile-logo a img {
        max-width: 120px;
    }

    .header-mobile-close img {
        display: block;
        width: 25px;
        height: auto;
    }

    .header-mobile-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .header-info-icon img {
        width: 24px;
        height: auto;
    }

    .header-info-text {
        font-size: 24px;
    }

    .header-info-item {
        gap: 15px;
    }

    .header-mobile-social {
        display: flex;
        align-items: center;
        gap: 22px;
        margin-bottom: 25px;
    }

    .header-mobile-social a img {
        display: block;
        width: 25px;
        height: auto;
    }

    .menu-mobile-nav {
        padding-top: 25px;
        display: flex;
        align-items: center;
    }

    .menu-mobile-nav .mobile-sub-menu {
        padding-top: 40px;
        display: none;
        flex-direction: column;
    }

    .header-mobile-btn {
        display: block;
    }

    .button {
        padding: 14px 50px;
        background-color: white;
        color: black;
    }

    .menu-mobile-nav-list {
        display: flex;
        gap: 20px;
        flex-direction: column;
        list-style: none;
        padding: 0;
        color: white;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .mobile-sub-menu {
        padding: 0;
        position: absolute;
        top: calc(100% + -38px);
        left: 228px;
        list-style: none;
        min-width: 300px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(71, 71, 77, 0.12);
        overflow: hidden;
        transition: .5s ease;
        transform: translateX(20px);
        background-color: var(--color1);
        color: white;
    }

    .mobile-sub-menu-item a {
        display: block;
        padding: 12px 20px;
        transition: .5s ease;
    }

    .mobile-sub-menu-item a:hover {
        background-color: #ffffff;
        color: #5B78CD;
    }

    .mobile-list-item-with-children {
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
    }

    .open-mobile-sub-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        transition: .5s ease;
    }

    .open-mobile-sub-menu.is-active {
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 575px) {
    .header-img {
        max-width: 110px;
    }
}

/*RESPONSIVE END*/
